<form novalidate #f="ngForm">
  <label>
    <span>Nombre Completo</span>
    <input
      type="text"
      name="name"
      placeholder="Su nombre"
      [ngModel]="user.name">
  </label>
  <div>
    <label>
      <span>Correo Electronico</span>
      <input
        type="email"
        name="email"
        placeholder="Su correo electronico"
        [ngModel]="user.account.email">
    </label>
    <label>
      <span>Confirmar Correo</span>
      <input
        type="email"
        name="confirm"
        placeholder="Confirmar correo electronico"
        [ngModel]="user.account.confirm">
    </label>
  </div>
  <button type="submit">Registrar</button>
</form>

<pre>
  <b>Debug:</b>
{{ user | json }} 
</pre>